In [3]:
# empty list
my_list=[]
# list of integers
my_list=[1,2,3]
# list with mixed data
my_list=[1,"hello",1.9]

In [9]:
# nested list
my_list=['welcome',4,[2,4,5]]
print(my_list)

['welcome', 4, [2, 4, 5]]

In [10]:
# empty list using list constructor
my_list=list()

In [11]:
# list of integers using integers
my_list=list([1,2,3])

In [17]:
list=['a','b','c','d','e']
print(list[2])
print(list[-1])

c
e

In [21]:
my_list=['anu','annu','appu','sonu']
print(my_list[-1])
print(my_list[-4])

sonu
anu

In [24]:
# change element
marks=[10,20,30]
print(marks)
marks[1]=100
print(marks)

[10, 20, 30]
[10, 100, 30]

In [33]:
#add element
marks.append(50)
print(marks)

[10, 100, 30, 50, 50, 50, 50, 50, 50, 50]

In [36]:
marks=[10,20,30]
marks.extend([10,50,60])
print(marks)

[10, 20, 30, 10, 50, 60]

In [41]:
marks.insert(2,500)
print(marks)

[10, 20, 500, 500, 500, 30, 10, 50, 60]

In [1]:
#delet method
marks=[10,20,30,50,60,70]
print(marks)
del marks[2]
print(marks)
del marks
print(marks)

[10, 20, 30, 50, 60, 70]
[10, 20, 50, 60, 70]

NameError: name 'marks' is not defined

In [44]:
#clear method
marks=[10,20,30,50,60,70]
marks.clear()
print(marks)

[]

In [59]:
# remove method
marks=[90,80,60,20,30,80,80]
print(marks)
marks.remove(80)
print(marks)

[90, 80, 60, 20, 30, 80, 80]
[90, 60, 20, 30, 80, 80]

In [63]:
# pop method to remove an item last come first out(stack)
marks=[90,60,80]
marks.pop()
print(marks)
marks.pop(0)
print(marks)

[90, 60]
[60]

In [64]:
marks=[90,60,80]
marks.extend([40,50,60,70])
print(marks)
marks.pop()
marks.pop()

[90, 60, 80, 40, 50, 60, 70]

60

In [68]:
# delet item in a limit by adding empty list
marks=[90,60,80,70]
marks[1:3]=[]
print(marks)

[90, 70]

In [74]:
list=['a','b','c','d','e']
print(list[1:4])
print(list[-3:-1])

['b', 'c', 'd']
['c', 'd']

In [80]:
list=["hii","hello","kooi"]
print('old list : ',list)
list.append("welcome")
print('appended list : ',list)

old list :  ['hii', 'hello', 'kooi']
appended list :  ['hii', 'hello', 'kooi', 'welcome']

In [81]:
# adding list of a list
list1=["hii","hello","kooi"]
list2=["welcome","good"]
list1.append(list2)
print(list1)

['hii', 'hello', 'kooi', ['welcome', 'good']]

In [92]:
list=['a','b','c','d','e','b','!']
print(list.count('c'))
print(list.count('b'))

1
2

In [104]:
# count the occurrence of tuple and list inside the list
list=['q','e',('a','b'),('i','o'),[4,7],[4,7]]
count1=list.count(('a','b'))
count2=list.count([4,7])
print("Count is ",count1)
print("Count is ",count2)

Count is  1
Count is  2

In [107]:
name1=['anu','appu','annu','ram']
name2=['aswanth','sonu']
name1.extend(name2)
print('Names are : ',name1)

Names are :  ['anu', 'appu', 'annu', 'ram', 'aswanth', 'sonu']

In [113]:
name1=['anu','appu','annu','ram']
name_tuple=('aswin','mini')
name_set={'monu','amaya'}
# add elements of tuple
name1.extend(name_tuple)
print('Name list add tupl : ',name1)
# add elements of set
name1.extend(name_set)
print('name list ad set : ',name1)

Name list add tupl :  ['anu', 'appu', 'annu', 'ram', 'aswin', 'mini']
name list ad set :  ['anu', 'appu', 'annu', 'ram', 'aswin', 'mini', 'monu', 'amaya']

In [124]:
list=['a','b','c','d','e','b','!','b']
print(list.index('c'))
print(list.index('b'))
# print(list.index('i'))

2
1

In [127]:
alpha=['a','b','c','d','e']
print(alpha)
alpha.insert(1,'f')
print(alpha)

['a', 'b', 'c', 'd', 'e']
['a', 'f', 'b', 'c', 'd', 'e']

In [132]:
# insert tuple as an element to list
list=[{1,2},[3,5,6,9]]
print('Old list ',list)
num_tuple=(2,4)
list.insert(1,num_tuple)
print('New list ',list)

Old list  [{1, 2}, [3, 5, 6, 9]]
New list  [{1, 2}, (2, 4), [3, 5, 6, 9]]

In [136]:
# pop element at the given index from the list
name=['anu','appu','annu','ram']
value=name.pop(3)
print("pop value is : ",value)
print("names are : ",name)

pop value is :  ram
names are :  ['anu', 'appu', 'annu']

In [144]:
name=['anu','appu','aswinu','ram']
print("Return value is : ",name.pop())
print("updated names ",name)
print("Return value is : ",name.pop(-1))
print("updated names ",name)

Return value is :  ram
updated names  ['anu', 'appu', 'aswinu']
Return value is :  aswinu
updated names  ['anu', 'appu']

In [153]:
old=[1,2,3,4]
new=old
new.append(9)
print("Old list",old)
print("New list",new)

Old list [1, 2, 3, 4, 9]
New list [1, 2, 3, 4, 9]

In [152]:
old=[1,2,3,4,'a']
new=old.copy()
new.append(9)
print(old)
print(new)

[1, 2, 3, 4, 'a']
[1, 2, 3, 4, 'a', 9]

In [151]:
list=[1,2,3,4,'a']
new_list=list[:]
new_list.append(5)
print(list)
print(new_list)

[1, 2, 3, 4, 'a']
[1, 2, 3, 4, 'a', 5]

In [154]:
list=[15,52,63,47,'a']
print("Orginal list",list)
list.remove(63)
print("Orginal list",list)

Orginal list [15, 52, 63, 47, 'a']
Orginal list [15, 52, 47, 'a']

In [156]:
# reverse
list=[15,52,63,47,'a']
print("Orginal list",list)
reverse_list=list[::-1]
print("reverce list is",reverse_list)

Orginal list [15, 52, 63, 47, 'a']
reverce list is ['a', 47, 63, 52, 15]

In [157]:
list=[15,52,63,47,'c']
print("Orginal list",list)
list.reverse()
print("reverse list",list)

Orginal list [15, 52, 63, 47, 'c']
reverse list ['c', 47, 63, 52, 15]

In [159]:
# ascending order
list=[1,22,3,44,15,6]
print("Orginal list",list)
list.sort()
print("Orginal list",list)

Orginal list [1, 22, 3, 44, 15, 6]
Orginal list [1, 3, 6, 15, 22, 44]

In [160]:
# decending order
list=[1,2,3,4,5,6]
print("Orginal list",list)
list.sort(reverse=True)
print("Orginal list",list)

Orginal list [1, 2, 3, 4, 5, 6]
Orginal list [6, 5, 4, 3, 2, 1]