In [1]:
n=int(input("Enter the limit: "))
a=0
b=1
for i in range(n):
        print(a)
        temp=b
        a=temp
        b=temp+b

Enter the limit: 6
0
1
2
4
8
16

In [2]:
n=5
for i in range(1,n+1):
    for j in range(0,i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:
num=5
for i in range(1,num+1):
    print(" "*(num-i)+"* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [4]:
num = 29
flag = False
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

29 is a prime number

In [5]:
num = int(input("Enter a number: "))
sum=0
temp=num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
if num == sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a number: 5
5 is not an Armstrong number

In [6]:
num=int(input("Enter the number: "))
sumSquare = 1
 
for i in range(2,num+ 1) :
     
   
    sumSquare += i ** 2
     

print("Sum of the is:",sumSquare)

Enter the number: 5
Sum of the is: 55

In [7]:
str="Welcome"
t="*"
t.join(str)

'W*e*l*c*o*m*e'

In [8]:
str="Enter your name"
str.replace("name","fullname")

'Enter your fullname'

In [9]:
str="hello hello world"
sub="hello"
str.count(sub)

2

In [10]:
str="my name is mayoogha"
str.upper()

'MY NAME IS MAYOOGHA'

In [11]:
str1="MY NAME IS MAYOOGHA"
str1.lower()

'my name is mayoogha'

In [12]:
str="hello world"[::-1]
print(str)

dlrow olleh

In [13]:
# str1="hello worls"
# str2=str1[0]
# str1.index(str2)

In [15]:
str=input("Enter the string : ")[::-1]
print(str)

Enter the string : mayoogha
ahgooyam

In [27]:
str = "Movie Theater"

ch1= str[:1]
ch2= str[1:2]
ch3= str[12:13]
print ("first Character is :",ch1)
print ("first Character is :",ch2)
print ("first Character is :",ch3)

first Character is : M
first Character is : o
first Character is : r

In [32]:
str2 = "Movie Theater"
ch=str2[0]
ch1=str2[1]
ch2=str2[-1]
print("first string: ",ch)
print("first string: ",ch1)
print("first string: ",ch2)

first string:  M
first string:  o
first string:  r

In [77]:
str="ammu"
vowels="aeiou"
vcount=0
for c in str:
    if c in vowels:
        vcount+=1
        
print("number of vowel : ",vcount)

number of vowel :  2

In [71]:
x = "what is your "
y = "name"
z = x + y
print(z)

what is your name

In [62]:
str1="position of the string"
str2="of"
str1.index(str2)

9

In [84]:
string= "ammu"
print(string)

freq={}

for i in string:
    if i in freq:
        freq[i]=freq[i]+1
    else:
        freq[i] = 1
result= max(freq, key = freq.get)

print("Most frequent character: ",result)

ammu
Most frequent character:  m