In [1]:
# program to creat a tuple
a=("anu","appu","alan","arathi")
print(a)

('anu', 'appu', 'alan', 'arathi')

In [2]:
# creat a tuple with number
a=("welcome",10,1.0,20)
print(a)
# creat a tuple with one item
b=(100,)
print(b)

('welcome', 10, 1.0, 20)
(100,)

In [3]:
a=("hii",10,[10,30,40],10.4)
print("Tuple with different data type :",a)

Tuple with different data type : ('hii', 10, [10, 30, 40], 10.4)

In [4]:
# tuple unpacking in several variable
val=(10,20,30,40,50,60)
a,b,c,d,e,f=val
print("The tuple is :",val)
a=24.78
b=100
c="hii"
d=[1,2,3]
val=(a,b,c,d,e,f)
print("unpacking tuple is :",val)

The tuple is : (10, 20, 30, 40, 50, 60)
unpacking tuple is : (24.78, 100, 'hii', [1, 2, 3], 50, 60)

In [5]:
value=('w','e','l','c','o','m','e')
string=""
for i in value:
    string=string+i
print(string)

welcome

In [6]:
values=(10,20,30,40)
b=int(input("Enter the number :"))
if b in values:
    print("value in the tuple")
else:
    print("value not in the tuple")

Enter the number :100
value not in the tuple

In [8]:
item=["apple","mango","banana","orange"]
print("The list is :",item)
t=tuple(item)
print("The tuple is :",t)

The list is : ['apple', 'mango', 'banana', 'orange']
The tuple is : ('apple', 'mango', 'banana', 'orange')

In [27]:
items=(100,120,115,209,823,989,109)
print("items are :",items)
a=items[::2]
print(a)
b=items[5::3]
print(b)
c=items[2:5]*3
d=c+(500,100)
print(d)

items are : (100, 120, 115, 209, 823, 989, 109)
(100, 115, 823, 109)
(989,)
(115, 209, 823, 115, 209, 823, 115, 209, 823, 500, 100)

In [31]:
tp=(100,120,"hii",209,823,[10,20])
length=len(tp)
print("length is :",length)

length is : 6

In [33]:
# convert tuple to directory
directory=({100:'apple',101:'mango'})
print("The directory is :",directory)
tup=tuple({100:'apple',101:'mango'})
print("The tuple is :",tup)

The directory is : {100: 'apple', 101: 'mango'}
The tuple is : (100, 101)

In [46]:
# reverse a tuple
items=(100,120,115,209,823,989,109)
items[::-1]

(109, 989, 823, 209, 115, 120, 100)