In [1]:
# empty tuple
t=tuple()
print(t)

()

In [2]:
t=(20)
print(t)
t1=5,
print(t1)
t2=(100,)
print(t2)

20
(5,)
(100,)

In [3]:
# nested tuple
t=(10,20,30,(40,50,60),100)
# length of tuple
len(t)
# first position item in tuple
t[1]
# find first tuple in tuple in a tuple
t[3][1]

50

In [4]:
t=tuple("python")
print(t)
t1=tuple("2021")
print(t1)

('p', 'y', 't', 'h', 'o', 'n')
('2', '0', '2', '1')

In [5]:
item=[10,20,30]
t=tuple(item)
print(t)

(10, 20, 30)

In [6]:
t1=tuple(input("Enter the element :"))
print(t1)

Enter the element :ui
('u', 'i')

In [7]:
mytuple=eval(input("Enter tuple element : "))
print(mytuple)

Enter tuple element : iiii

NameError: name 'iiii' is not defined

In [ ]:
fruits=("apple","mango","orange","banana")
print(fruits)
a=fruits[0]
print("First element is :",a)
c=fruits[2]
print("Third element is :",c)
b=fruits[-1]
print("Last element is :",b)

In [ ]:
# list is mutable it can change tuple is immutable it canot change items
l1=[10,20,30,40]
t1=(100,200,300,400)
l1[1]=200
print(l1)
t1[1]=300

In [1]:
# traversing tuple
qualification=("mca","msc","ma","m.com","mba")
for q in qualification:
    print(q)

mca
msc
ma
m.com
mba

In [ ]:
# joining tuple
t1=(10,20,30)
t2=('a','b','c')
t3=t1+t2
print(t3)
# 20 is not tuple 
t1+20
# (20) is not tuple
t1+(20)

In [ ]:
t1=(10,20,30)
t1+(100,)

In [ ]:
t2=("hii","hello")
t2*3

In [ ]:
data=(10,20,30,1,7,9,100,51,75,80)
data[4:-4]
data[1:6]
data[4:-2]
data[::-1]
data[::-2]
data[2:9:2]

In [ ]:
# slicing tuple
tp=(11,12,15,20,8,9,10)
a=tp[::2]
print(a)
b=tp[5::3]
print(b)
tp[2:5]*3
tp[2:5]*3+(500,100)

In [ ]:
# comparing tuple
a=(10,20)
b=(10,20)
c=(20,10)
a==b
a==c
d=(20.0,10.0)
c==d
a<c

In [ ]:
t=(10,20,30)
print(t)
# del t[1]
del t
print(t)

In [ ]:
book=("hii",90,"welcome hii","kooi")
len(book)

In [ ]:
salary=(1000,1500,500,2000,100)
max(salary)

In [ ]:
fruits=("apple","green apple","orange","mango","zaam")
max(fruits)

In [ ]:
t1=(10,20,30,(40,50),90)
max(t1)

In [ ]:
salary=(1000,1500,500,2000,100)
min(salary)

In [ ]:
fruits=("apple green","apple","orange","mango","ba")
min(fruits)

In [ ]:
t1=(10,20,30,(40,50),90)
min(t1)

In [ ]:
salary=(1000,1500,500,2000,100)
salary.index(500)

In [ ]:
val=(10,20,59,20,95,20,10)
val.count(20)

In [ ]:
val.count(59)

In [ ]:
val.count(1)

In [8]:
tup=tuple()
print(tup)

()

In [10]:
# creating tuple from string
tup=tuple("welcom all")
print(tup)

('w', 'e', 'l', 'c', 'o', 'm', ' ', 'a', 'l', 'l')

In [12]:
# creating tuple from a list
tup=tuple([20,30,40])
print(tup)

(20, 30, 40)

In [13]:
tup=tuple({1:"first",2:"second"})
print(tup)

(1, 2)

In [14]:
t=tuple(10)
print(t)

TypeError: 'int' object is not iterable

In [20]:
# modifing tuple using tuple unpacking
val=(10,20,30)
a,b,c=val
# print(a,b,c)
b=100
val=(a,b,c)
print(val)

(10, 100, 30)

In [22]:
actors=("mohanlal","mamooty","dq","nivin","tovino")
print(actors)
myactor=list(actors)
myactor[-1]="kamalahasan"
actors=tuple(myactor)
print(actors)

('mohanlal', 'mamooty', 'dq', 'nivin', 'tovino')
('mohanlal', 'mamooty', 'dq', 'nivin', 'kamalahasan')